.burger {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-display__background {
    height: 512px;
  }
  .main-display__background > img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 768.98px) {
  .program {
    display: none;
  }
  .header__menu {
    position: absolute;
    background-color: black;
    flex-direction: column;
    border: 1px dotted white;
    top: 90%;
    right: 13rem;
    transition: all 0.3s ease 0s;
    z-index: 100;
    width: 200px;
  }
  .header__menu.active {
    top: -300%;
  }
  .header__nav {
    flex-direction: column;
    text-align: right;
  }
  .header__nav > a {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .header__nav a:not(:last-child) {
    margin-right: 0;
  }
  .header__button {
    font-size: 14px;
  }
  .button__container {
    margin-left: 0;
    padding-bottom: 1rem;
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .burger {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
  }
  .burger > span {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: white;
    margin-top: 10px;
    transition: all 0.3s ease 0s;
  }
  .burger.active > span {
    position: absolute;
    top: 50%;
  }
  .burger.active > span:nth-child(1) {
    transform: rotate(45deg);
    margin-top: 0;
  }
  .burger.active > span:nth-child(2) {
    display: none;
  }
  .burger.active > span:nth-child(3) {
    transform: rotate(-45deg);
    margin-top: 0;
  }
  .course {
    display: none;
  }
  .main-display__header {
    max-width: 100%;
  }
  .main-display {
    padding-bottom: 15rem;
    position: relative;
    z-index: 1;
  }
  .main-display__background {
    height: 80rem;
  }
  .main-display__background > img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .main-display__header {
    text-align: center;
  }
  .main-display__timer {
    justify-content: center;
  }
  .work {
    padding-bottom: 15rem;
    padding-top: 0;
  }
  .work__wrap {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .process__img {
    margin-left: 10rem;
  }
  .process__header {
    text-align: left;
    text-align: center;
  }
  .process__description {
    font-size: 13px;
    margin: 0 auto;
    max-width: 80%;
    margin-bottom: 5rem;
    text-align: center;
  }
  .process__columns:after {
    width: 100%;
  }
  .work__img {
    margin: 0 auto;
  }
  .program {
    padding-bottom: 15rem;
    margin-bottom: 0;
  }
  .program__image {
    margin: 0;
    margin-left: 11%;
  }
  .work__text {
    margin-bottom: 5rem;
    padding-top: 0;
  }
  .work__description {
    font-size: 12px;
  }
  .command {
    margin-bottom: 0;
    padding-bottom: 7rem;
  }
  .process__title {
    text-align: center;
  }
  .command__img-title {
    margin-left: 26%;
  }
  .command__wrap {
    flex-direction: column;
    position: static;
  }
  .command__item {
    position: static;
    margin-bottom: 10rem;
  }
  .command__img {
    width: 190px;
    height: 190px;
  }
  .command__item.active > .command__img {
    width: 190px;
    height: 190px;
    border: none;
  }
  .command__item:nth-child(2).active > .command__button-hid {
    margin-top: 0;
  }
  .command__name {
    font-size: 16px;
  }
  .command__profession {
    font-size: 13px;
  }
  .comand__description {
    margin-top: 3rem;
    position: static;
    font-size: 12px;
    text-align: center;
    margin-bottom: 5rem;
  }
  .command__button {
    font-size: 14px;
  }
  .comand__description > p {
    position: static;
  }
  .assembly {
    padding-bottom: 15rem;
  }
  .assembly__header {
    text-align: center;
  }
  .assembly__description {
    font-size: 12px;
    text-align: center;
  }
  .assembly__button {
    font-size: 13px;
  }
}